.grid-container {
    display: grid;
    background-color: rgba(240, 248, 255, 0);
    /*grid-template-colums: repeat(3, 1fr);*/
    grid-template-columns: repeat(3, 550px);
    height: 100vh;
    margin: 1px 1%;
    margin-bottom: -60px;
    justify-content: center;
    /* Center the items horizontally */
    align-items: center;
    /* Center the items vertically */
    gap: 1px;
    opacity: 1;
    transition: 2.9s ease;
}

/* .visible {
    opacity: 1;
    background-color: rgba(240, 248, 255, 0);
}

.hidden {
    opacity: 0;
    background-color: rgb(255, 255, 255); 
}*/

.griditems {
    background-color: rgba(238, 130, 238, 0);
    height: 816px;
    width: 525px;
}

.grid-item1 {
    background-image: url(/src/img/PRODUCCION.png);
    /* background-size: cover; */
    background-position: center;
    /* height: 7z0%;*/
    display: flex;
    text-align: center;
    flex: 1;
    /* Allow item to grow to fill available space */
    min-height: 0;
    /* Ensure item can shrink if needed */
    align-content: center;
    height: 616px;
    width: 525px;

}

.colum-div-1 {
    background-color: rgb(225, 255, 54);
    margin-top: auto;
    width: 525px;
    height: 16vh;
    padding: 15px;
    text-align: center;

}

.grid-item2 {
    background-image: url(/src/img/BTLEVENTOS.png);
    /* background-size: cover; */
    background-position: center;
    /* height: 7z0%;*/
    display: flex;
    text-align: center;
    flex: 1;
    /* Allow item to grow to fill available space */
    min-height: 0;
    /* Ensure item can shrink if needed */
    align-content: center;
    height: 616px;
    width: 525px;
}

.colum-div-2 {
    background-color: rgb(43, 170, 255);
    margin-top: auto;
    width: 525px;
    height: 16vh;
    padding: 15px;
    text-align: center;
}

.grid-item3 {
    background-image: url(/src/img/AGENCIA.png);
    /* background-size: cover; */
    background-position: center;
    /* height: 7z0%;*/
    display: flex;
    text-align: center;
    flex: 1;
    /* Allow item to grow to fill available space */
    min-height: 0;
    /* Ensure item can shrink if needed */
    align-content: center;
    height: 616px;
    width: 525px;
}

.colum-div-3 {
    background-color: rgb(255, 175, 27);
    margin-top: auto;
    width: 525px;
    height: 16vh;
    padding: 15px;
    text-align: center;
}

.portfolio-h1 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 1%;
}

.portfolio-text {
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 1%;
    justify-self: center;
}

.carousel {
    background-color: rgba(128, 255, 0, 0);
}



.bodyporta {
    background-image: url("../img/fondo.png");
    background-size: cover;
}
.imgcontainer {
    width: 200px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
    .grid-container {
        /* Change to 1 column on mobile screens */
        display: flex;
        flex-direction: column;
        height: 50vh;
        overflow-y: auto;
        margin-bottom: 3%;
       
    }

    .griditems {
        background-color: rgba(115, 255, 0, 0);
        width: 96.6vw;
        height: 75vh;
        justify-content: center;
    }

    .grid-item1 {
        margin-top: 50%;
        height: 90vh;
        width: 96.6vw;
    }

    .grid-item2 {
        width: 96.6vw;
    }

    .grid-item3 {
        width: 96.6vw;
    }
    
    .colum-div-1 {
        background-color: rgb(225, 255, 54);
        margin-top: auto;
        width: 96.6vw;
        height: 16vh;
        padding: 15px;
        text-align: center;
    }
    .colum-div-2 {
        background-color: rgb(43, 170, 255);
        margin-top: auto;
        width: 96.6vw;
        height: 16vh;
        padding: 15px;
        text-align: center;
    }
    .colum-div-3 {
        background-color: rgb(255, 175, 27);
        margin-top: auto;
        width: 96.6vw;
        height: 16vh;
        padding: 15px;
        text-align: center;
    }
    .carousel {
        width: 100vw;
        height: 37vh;
    }
}



